---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Home - SDLVN">
	<main>
		<header class="flex flex-wrap sm:justify-start sm:flex-nowrap w-full bg-transparent text-sm py-3">
			<nav class="max-w-[85rem] w-full mx-auto px-4 flex flex-wrap basis-full items-center justify-between">
				<a class="sm:order-1 flex-none text-xl font-semibold dark:text-white focus:outline-none focus:opacity-80" href="/home">SDLVN</a>
			  <div class="sm:order-3 flex items-center gap-x-2">
				<button type="button" class="sm:hidden hs-collapse-toggle relative size-7 flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-neutral-700 dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10" id="hs-navbar-alignment-collapse" aria-expanded="false" aria-controls="hs-navbar-alignment" aria-label="Toggle navigation" data-hs-collapse="#hs-navbar-alignment">
				  <svg class="hs-collapse-open:hidden shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
				  <svg class="hs-collapse-open:block hidden shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
				  <span class="sr-only">Toggle</span>
				</button>
				<a href="https://discord.gg/ZkjnwRSke4"><button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
				  <img src="/discord.png" class="w-5 h-auto">Join our Discord
				</button></a>
			  </div>
			  <div id="hs-navbar-alignment" class="text-center hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:grow-0 sm:basis-auto sm:block sm:order-2" aria-labelledby="hs-navbar-alignment-collapse">
				<div class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:mt-0 sm:ps-5">
				  <a class="font-medium text-indigo-400 focus:outline-none" href="/home" aria-current="page">Home</a>
				  <a class="font-medium text-gray-600 hover:text-gray-400 focus:outline-none focus:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-500" href="/rules">Rules</a>
				  <a class="font-medium text-gray-600 hover:text-gray-400 focus:outline-none focus:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-500" href="/leaderboard">Leaderboard</a>
				  <a class="font-medium text-gray-600 hover:text-gray-400 focus:outline-none focus:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-500" href="/legacy">Legacy List</a>
				</div>
			  </div>
			</nav>
		  </header>
		<h1 class="font-bold text-3xl sm:text-5xl">Welcome to <span class="text-gradient"><br>Speedhack Demon List VN</span></h1>
		<p class="instructions font-semibold text-center text-xl sm:text-2xl">
			Hardest level beaten by <strong>Vietnamese</strong> using speedhack
		</p>
		<div class="hs-accordion-group bg-white dark:bg-neutral-800 rounded-lg">
			<div class="hs-accordion hs-accordion-active:border-gray-200 bg-white border border-transparent rounded-xl dark:hs-accordion-active:border-neutral-700 dark:bg-neutral-800 dark:border-transparent" id="hs-active-bordered-heading-one">
			  <button class="hs-accordion-toggle hs-accordion-active:text-indigo-400 inline-flex justify-between items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-indigo-400 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:outline-none dark:focus:text-neutral-400" aria-expanded="false" aria-controls="hs-basic-active-bordered-collapse-one">
				#1 TROLLMACHINE [1.11]
				<svg class="hs-accordion-active:hidden block size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
				  <path d="M5 12h14"></path>
				  <path d="M12 5v14"></path>
				</svg>
				<svg class="hs-accordion-active:block hidden size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
				  <path d="M5 12h14"></path>
				</svg>
			  </button>
			  <div id="hs-basic-active-bordered-collapse-one" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-active-bordered-heading-one">
				<div class="pb-4 px-5">
				  <p class="font-semibold text-gray-800 dark:text-neutral-200 text-center">
					<span class="font-bold text-3xl">TROLLMACHINE [1.11]</span><br>
					Creator: TROLLM4CHINE<br>
					Verifier: yappernl<br>
					ID: 84325817<br>
					<code>Point when completed: 2700</code><br>
					<iframe class="w-fit h-fit sm:inline-flex" src="https://www.youtube.com/embed/tqKbyunyF_E" title="[FIRST 1.11X SPEED VICTOR] TROLLMACHINE 100%" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
					<br>
					<span class="font-bold text-2xl">Records:</span><br>
				  </p>
				</div>
			  </div>
			<div class="hs-accordion-group bg-white dark:bg-neutral-800 rounded-lg">
				<div class="hs-accordion hs-accordion-active:border-gray-200 bg-white border border-transparent rounded-xl dark:hs-accordion-active:border-neutral-700 dark:bg-neutral-800 dark:border-transparent" id="hs-active-bordered-heading-one">					  <button class="hs-accordion-toggle hs-accordion-active:text-indigo-400 inline-flex justify-between items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-indigo-400 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:outline-none dark:focus:text-neutral-400" aria-expanded="false" aria-controls="hs-basic-active-bordered-collapse-one">
					#2 PAY [1.3]
					<svg class="hs-accordion-active:hidden block size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					  <path d="M5 12h14"></path>
					  <path d="M12 5v14"></path>
					</svg>
					<svg class="hs-accordion-active:block hidden size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					  <path d="M5 12h14"></path>
					</svg>
				  </button>
				  <div id="hs-basic-active-bordered-collapse-one" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-active-bordered-heading-one">
					<div class="pb-4 px-5">
					  <p class="font-semibold text-gray-800 dark:text-neutral-200 text-center">
						<span class="font-bold text-3xl">PAY [1.3]</span><br>
						Creator: PDKGD<br>
						Verifier: Lychee<br>
						ID: 76159556<br>
						<code>Point when completed: 2300</code><br>
						<iframe class="w-fit h-fit sm:inline-flex" width="647" height="364" src="https://www.youtube.com/embed/CnRrXinlIR8" title="Pay 130% Speed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						<br>
						<span class="font-bold text-2xl">Records:</span><br>
					  </p>
					</div>
				  </div>
				</div>

				<div class="hs-accordion-group bg-white dark:bg-neutral-800 rounded-lg">
				<div class="hs-accordion hs-accordion-active:border-gray-200 bg-white border border-transparent rounded-xl dark:hs-accordion-active:border-neutral-700 dark:bg-neutral-800 dark:border-transparent" id="hs-active-bordered-heading-one">
				  <button class="hs-accordion-toggle hs-accordion-active:text-indigo-400 inline-flex justify-between items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-indigo-400 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:outline-none dark:focus:text-neutral-400" aria-expanded="false" aria-controls="hs-basic-active-bordered-collapse-one">
					#3 demon mixed [2.5]
					<svg class="hs-accordion-active:hidden block size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					  <path d="M5 12h14"></path>
					  <path d="M12 5v14"></path>
					</svg>
					<svg class="hs-accordion-active:block hidden size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					  <path d="M5 12h14"></path>
					</svg>
				  </button>
				  <div id="hs-basic-active-bordered-collapse-one" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-active-bordered-heading-one">
					<div class="pb-4 px-5">
					  <p class="font-semibold text-gray-800 dark:text-neutral-200 text-center">
						<span class="font-bold text-3xl">demon mixed [2.5]</span><br>
						Creator: RealOggY<br>
						Verifier: Lychee<br>
						ID: 566659<br>
						<code>Point when completed: 2200</code><br>
						<iframe class="w-fit h-fit sm:inline-flex" width="647" height="364" src="https://www.youtube.com/embed/2dFP4Ec_KdY" title="Demon Mixed 2.5x speed 100% | Hard Demon" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						<br>
						<span class="font-bold text-2xl">Records:</span><br>
					  </p>
				</div>
			</div>

			<div class="hs-accordion-group bg-white dark:bg-neutral-800 rounded-lg">
				<div class="hs-accordion hs-accordion-active:border-gray-200 bg-white border border-transparent rounded-xl dark:hs-accordion-active:border-neutral-700 dark:bg-neutral-800 dark:border-transparent" id="hs-active-bordered-heading-one">
				  <button class="hs-accordion-toggle hs-accordion-active:text-indigo-400 inline-flex justify-between items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-indigo-400 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:outline-none dark:focus:text-neutral-400" aria-expanded="false" aria-controls="hs-basic-active-bordered-collapse-one">
					#4 THE LIGHTING ROAD [2.0]
					<svg class="hs-accordion-active:hidden block size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					  <path d="M5 12h14"></path>
					  <path d="M12 5v14"></path>
					</svg>
					<svg class="hs-accordion-active:block hidden size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					  <path d="M5 12h14"></path>
					</svg>
				  </button>
				  <div id="hs-basic-active-bordered-collapse-one" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-active-bordered-heading-one">
					<div class="pb-4 px-5">
					  <p class="font-semibold text-gray-800 dark:text-neutral-200 text-center">
						<span class="font-bold text-3xl">THE LIGHTNING ROAD [2.0]</span><br>
						Creator: Timeless real<br>
						Verifier: p0123<br>
						ID: 55520<br>
						<code>Point when completed: 2100</code><br>
						<iframe class="inline-flex w-fit h-fit" width="647" height="364" src="https://www.youtube.com/embed/2W2MrXpSCp4" title="The lightning road 2x" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						<br>
						<span class="font-bold text-2xl">Records:</span><br>
					  </p>
				</div>
			</div>
			<div class="hs-accordion-group bg-white dark:bg-neutral-800 rounded-lg">
				<div class="hs-accordion hs-accordion-active:border-gray-200 bg-white border border-transparent rounded-xl dark:hs-accordion-active:border-neutral-700 dark:bg-neutral-800 dark:border-transparent" id="hs-active-bordered-heading-one">
				  <button class="hs-accordion-toggle hs-accordion-active:text-indigo-400 inline-flex justify-between items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-indigo-400 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:outline-none dark:focus:text-neutral-400" aria-expanded="false" aria-controls="hs-basic-active-bordered-collapse-one">
					#5 Hush [1.5]
					<svg class="hs-accordion-active:hidden block size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					  <path d="M5 12h14"></path>
					  <path d="M12 5v14"></path>
					</svg>
					<svg class="hs-accordion-active:block hidden size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					  <path d="M5 12h14"></path>
					</svg>
				  </button>
				  <div id="hs-basic-active-bordered-collapse-one" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-active-bordered-heading-one">
					<div class="pb-4 px-5">
					  <p class="font-semibold text-gray-800 dark:text-neutral-200 text-center">
						<span class="font-bold text-3xl">Hush [1.5]</span><br>
						Creator: JamesRamirez08<br>
						Verifier: ShiroGichi<br>
						ID: 109787420<br>
						<code>Point when completed: 2000</code><br>
						<iframe class="w-fit h-fit inline-flex" width="640" height="360" src="https://www.youtube.com/embed/spsvQhwNIzc" title="Húh x1,5 Speedz" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						<br>
						<span class="font-bold text-2xl">Records:</span><br>
					  </p>
				</div>
			</div>
			<div class="hs-accordion-group bg-white dark:bg-neutral-800 rounded-lg">
				<div class="hs-accordion hs-accordion-active:border-gray-200 bg-white border border-transparent rounded-xl dark:hs-accordion-active:border-neutral-700 dark:bg-neutral-800 dark:border-transparent" id="hs-active-bordered-heading-one">
				  <button class="hs-accordion-toggle hs-accordion-active:text-indigo-400 inline-flex justify-between items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-indigo-400 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:outline-none dark:focus:text-neutral-400" aria-expanded="false" aria-controls="hs-basic-active-bordered-collapse-one">
					#6 Shiver [1.5]
					<svg class="hs-accordion-active:hidden block size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					  <path d="M5 12h14"></path>
					  <path d="M12 5v14"></path>
					</svg>
					<svg class="hs-accordion-active:block hidden size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					  <path d="M5 12h14"></path>
					</svg>
				  </button>
				  <div id="hs-basic-active-bordered-collapse-one" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-active-bordered-heading-one">
					<div class="pb-4 px-5">
					  <p class="font-semibold text-gray-800 dark:text-neutral-200 text-center">
						<span class="font-bold text-3xl">Shiver [1.5]</span><br>
						Creator: SpKale<br>
						Verifier: p0123<br>
						ID: 56210242<br>
						<code>Point when completed: 1500</code><br>
						<iframe class="vid" width="640" height="360" src="https://www.youtube.com/embed/mLd9zKyk0Vs" title="Shiver at 1.5x speed first victor (ig) | GDVN | Geometry Dash 2.206" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						<br>
						<span class="font-bold text-2xl">Records:</span><br>
					  </p>
				</div>
			</div>
			<div class="hs-accordion-group bg-white dark:bg-neutral-800 rounded-lg">
				<div class="hs-accordion hs-accordion-active:border-gray-200 bg-white border border-transparent rounded-xl dark:hs-accordion-active:border-neutral-700 dark:bg-neutral-800 dark:border-transparent" id="hs-active-bordered-heading-one">
				  <button class="hs-accordion-toggle hs-accordion-active:text-indigo-400 inline-flex justify-between items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-indigo-400 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:outline-none dark:focus:text-neutral-400" aria-expanded="false" aria-controls="hs-basic-active-bordered-collapse-one">
					#7 Platinum Adventure [1.5]
					<svg class="hs-accordion-active:hidden block size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					  <path d="M5 12h14"></path>
					  <path d="M12 5v14"></path>
					</svg>
					<svg class="hs-accordion-active:block hidden size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					  <path d="M5 12h14"></path>
					</svg>
				  </button>
				  <div id="hs-basic-active-bordered-collapse-one" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-active-bordered-heading-one">
					<div class="pb-4 px-5">
					  <p class="font-semibold text-gray-800 dark:text-neutral-200 text-center">
						<span class="font-bold text-3xl">Platinum Adventure [1.5]</span><br>
						Creator: Jerry4<br>
						Verifier: p0123<br>
						ID: 5904109<br>
						<code>Point when completed: 1000</code><br>
						<iframe class="vid" width="640" height="360" src="https://www.youtube.com/embed/IYSerh5PQpc" title="platinum adventure 1.5x speed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						<br>
						<span class="font-bold text-2xl">Records:</span><br>
					  </p>
				</div>
			</div>
		</main>
</Layout>
<style>
@tailwind base;
@tailwind components;
@tailwind utilities;
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.vid
	{
		@apply w-fit h-fit inline-flex
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
